@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$font-family-poppins: 'Poppins', sans-serif;
.register{
    height: 100vh;
    background-color: #9087f1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family-poppins;
    .card{
        display: flex;
        flex-direction: row-reverse;
        background-color: white;
        width: 50%;
        border-radius: 10px;
        overflow: hidden;
        .left{
            flex: 1;
            background: linear-gradient(rgba(23, 65, 179, 0.377),rgb(133, 57, 255)), url("https://images.pexels.com/photos/323781/pexels-photo-323781.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center;
            min-height: 500px;
            background-size: cover;
            padding: 50px;
            padding-bottom: 70px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            color: white;
            h1{
                font-size: 40px;
                line-height: 70px;
            }
            p{}
            span{}
            button{
                width: 50%;
                padding: 10px;
                border: none;
                background-color: white;
                cursor: pointer;
                font-weight: bold;
            }
        }
        .right{
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;
            h1{
                color: rgb(59, 59, 59);
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 30px;
                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                }
                button{
                    width: 50%;
                    padding: 50%;
                    padding: 10px;
                    border: none;
                    background-color: rgb(67, 46, 153);
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
}